:root {
    --white: #FFFFFF;
    --offWhite: #F5F5F5;
    --lightCyan: #CDECEE;
    --darkCyan: #049FA4;
    --teal: #04787B;
    --tealDarken: #026164;
    --darkGrey: #333333;
    --dimGrey: #646464;
}