/* note: we use margins in the class names. if we have a button, increase the margin to match the orderlist */

.van-list {
    max-width: 1200px; 
    margin: auto auto 2.5rem auto;
    padding: 0 15px;
}

.van-list-title {
    font-size: 2.5rem !important;
    margin: 30px 0px;
    text-align: center;
}

.van-list-col {
    margin-bottom: 1rem;
}

.van-list-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid lightgray;
}

.van-list-card-title {
    margin-bottom: 0.5rem;
}

.van-list-card-subtitle {
    margin-bottom: 0.5rem;
}

.van-list-navbar {
    margin-bottom: 1rem;
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid lightgray;

}

.van-list-nav {
    display: flex;
    justify-content: space-between;
}

.van-list-nav-item {
    margin-right: 1rem;
    padding: 10px;
}

.van-list-dropdown{
    background-color: var(--teal) !important;
    border: none !important;
    padding: 3px 10px 3px 10px !important;
    margin: 0px 5px 0px 5px !important;
}

.van-list-dropdown-item:focus {
    background-color: var(--tealDarken) !important;
    color: white !important;

}

.van-list-dropdown-item.active {
    background-color: var(--teal) !important;
    color: white !important;
}

.van-list-card-button-container {
    margin-top: auto;
    display: flex;
    justify-content: left;
    text-decoration: none;
}

.button {
    background-color: var(--teal) !important;
    border: none !important;
    transition: background-color 0.2s ease !important; 
}

.button:hover {
    background-color: var(--tealDarken) !important;
}

.van-list-navbar-button {
    background-color: var(--teal) !important;
    border: none !important;
    transition: background-color 0.2s ease !important; 
    color: white !important;
    padding: 3px 10px 3px 10px !important;
    margin: 0px 5px 0px 5px !important;
}

.van-list-navbar-button:hover {
    background-color: var(--tealDarken) !important;
}

.button:disabled,
.button[disabled] {
  background-color: #cccccc !important; /* Light grey background */
  color: #666666 !important;            /* Dark grey text */
  border-color: #cccccc !important;     /* Light grey border */
  cursor: not-allowed !important;       /* Shows a 'not-allowed' cursor */
  opacity: 0.6 !important;              /* Make the button appear faded */
  pointer-events: none !important;      /* Disable interaction */
  text-decoration: none !important;     /* Remove underline (if any) */
}
